<?php /** @var $block \Fc\Faqs\Block\FaqsList */ ?>
<div class="section-inner">
    <div class="container section-content">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="main-title">Frequently Asked Questions</h2>
                    <h3 class="sub-title">A bit more info about our services</h3>
                    <span class="section-line"></span>
                </div>
            </div>
        </div>

        <?php $i=0; ?>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="accordion accordion-rj style-one">
                    <div class="panel-group" id="accordion">

                        <?php /** @var $faq \Fc\Faqs\Model\Faq */ ?>
                        <?php foreach ($block->getFaqs() as $faq): ?>

                        <?php $i++; ?>

                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-item-<?php echo($i); ?>" aria-expanded="false">
                                        <?php echo $faq->getTitle() ?> <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> </a>

                                </div>
                            </div>
                            <div id="accordion-item-<?php echo($i); ?>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    <p> <?php echo $faq->getContent(); ?> </p>
                                </div>
                            </div>
                        </div>

                        <?php endforeach; ?>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<ul class="faqs-faq-list">
    <?php /** @var $faq \Fc\Faqs\Model\Faq */ ?>
    <?php /*foreach ($block->getFaqs() as $faq): */?>
        <li class="faq-list-item">
            <h3 class="faqs-faq-item-title">
                <?php /*echo $faq->getTitle() */?>
            </h3>

            <div class="faq-item-content">
                <?php /*echo $faq->getContent(); */?>
            </div>
            <div class="faq-item-meta">
                <strong><?php /*echo __('Created at:') */?></strong> <?php /*echo $faq->getCreationTime() */?>
            </div>
        </li>
    <?php /*endforeach; */?>
</ul>-->

<script>
    $('.accordion-toggle').click(function(){
        $(this).find('i').toggleClass('glyphicon glyphicon-plus').toggleClass('glyphicon glyphicon-minus');
    });
</script>