body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #f2f4f4;
  font-style: normal;
}
.page-wrapper{


}

.widget.block.block-static-block {
  margin:0;
  padding:0;
  height: 100%;
}


.homepage-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url(../../images/themagents-background.jpg); */
  /* background: #113C66; */
  background: linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
  ), url(http://magento2-t2.webcode.bg/pub/static/frontend/Magento/themagents/en_US/images/themagents-background.jpg) no-repeat top left;
  padding: 0px;
  z-index: -999;
}


//Navbar Start

.nav > li {
  margin-bottom: 0;
}

.navbar-inverse { background-color: #222222; border-radius:0px;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #3996CC; }
.dropdown-menu { background-color: #222222}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #3996CC}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #222222}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #3689BA}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
/*.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #3996cc}*/
.dropdown-menu>li>a { color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #222222}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #222222}



.page-header {

  background-color: #dedede;
  margin: 0;
}

.block-search {
  height:40px;
}

.header.links {
  float: right;
  list-style-type: none;
  padding-left: 15px;
  /*padding-top: 7px;*/
}
.header.links li a {
  color: #F1FFEB;
  background-color: #3996cc;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navigation .level0 > .level-top {
  color: #FFFFFF;
}


.navigation ul {
  background: #3996cc;
}
.nav-sections-item-content {
  background: #3996cc;
}


.navbar-header {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 530px;
}

/*.logo {
  margin: 10px 0;
}*/



#navbar-right-side li a {
  height: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  /*font-stretch: condensed;*/
  text-decoration: none solid #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.navbar-brand {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.1em;
}

/*
safe for services page
*/
#nav-active-bar {
  background: #3996cc;
}

#nav-active-bar a:hover {
  color: #000;

}



//Navbar Ends

//Main Content Start

#Main-Title {
  font-size:55px;
  color: #FFFFFF;
  margin-top:0px;
  margin-bottom: 24px;
}

#Post-Title {
  color: #FFFFFF;
  font-size: 26px;
  margin-bottom: 65px;
}

#Main-Logo-Bar {
  margin:0 auto;
  margin-top: 85px;
  margin-bottom: 40px;
}

#button-box {
  margin-top: 50px;
  margin-bottom:50px;
}

#learn-more-btn   {
  padding: 19px 25px;
  background-image: none;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  min-width: 200px;
  border-radius: 0;
  background-color: #3996cc;
  border-color: #4da1d1;
  color: #fff;
  margin-right: -8px;
}
#learn-more-btn:hover {
  background: rgba(0,0,0,0.1);
  border-color: #FFFFFF;
}

#get-quote-btn {
  padding: 20px 25px;
  background-image: none;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  min-width: 200px;
  border-radius: 0;

  border-color: #FFFFFF;
  color: #fff;
}

#get-quote-btn:hover {
  background-color: #3996cc;
  border-color: #3996cc;
}

.category-view {
  margin-bottom: 70px;
}

.column.main {
  min-height: 0;
}

//Main Content End


.page-header .panel.wrapper{
  border-bottom: 0px;
}



//Footer STARTS

#footer-info {
  background-color: #1C1C1C;
  border-top: 2px solid #3996cc;
  height: 100%;
  width:100%;
  padding-top: 50px;
  padding-bottom: 270px;
  padding-left: 105px;
  color: #888;
}


.page-footer {
  border-top: 2px solid #3996cc;
  /*background-color: #1c1c1c;*/
  background-color: #F2F4F4;
}

.footer.content {

  border-top:0;


}
#footer-info h4 {
  color: #c9c9c9;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}

#footer-inf ul > li {
  padding-bottom: 10px;
}
#footer-inf ul > li span {
  padding-right:8px;
}

#footer-right-title {
  color: #c9c9c9;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}
#footer-right-p {
  font-size: 14px;
  margin-bottom: 20px;
}

ul.social-icon-list > li a:hover {
  border-color: #ffffff;
  color: #FFFFFF;
  
}

ul.social-icon-list > li a {
  color: #c9c9c9;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
}

.content {
  padding-bottom: 30px

}
.copyright-container {



}

.copyright {
  display: block;
  color: #888888;
  background-color: #161616;
  border-top: 1px solid rgba(114, 114, 114, 0.25);
  width: 100%;
  right: 0px;
  padding:15px 0;
}

.copyright span {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

//Footer ENDS

//Clients page css

.main-title {
  color: #000;
  font-size: 60px;
}

a.clients-logo {
  display: block;
  height: 200px;
  position: relative;
}

.clients-logo img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Clients page css ENDS


//Service page css Starts

.container.section-content {
  font-family:"PT Sans", sans-serif;
  color:#222222;
}
.container.section-content p {
  font-size:15px;
  line-height: 1.6;
}

.section-title > .main-title {
  font-size: 60px;
  text-transform: uppercase;
  color: #000000;
}
.sub-title {
  text-transform: uppercase;
  font-size: 25px;
}

.section-content .section-line {
  background-color:#222222;
  display:inline-block;
  height:1px;
  width:50px;
}

.section-title.text-center {
  padding-bottom: 60px;
}

.content-boxes.top-column {
  padding-bottom:40px;
}

.content-boxes.style-two > .content-boxes-icon > i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 3px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.content-boxes.style-two > .content-boxes-icon > i {
  background-color: #3996cc;
}
.content-boxes > .content-boxes-text {
  margin-left: 50px;
}
.content-boxes-icon {
  float: left;
  padding-top: 11px;
}

.content-boxes > .content-boxes-text > h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 0.2em;
}

//Service page css ENDS

//Get a Quote page css STARTS

.row input , .form-control {
  border-left-color: #3996cc;
}

.input-group {
  width: 100%;
}

.sections.nav-sections {
  margin-bottom:35px;
}

.form-group label {
  color: #222;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}


.form-group button {
  width: 100%;
  margin-top: 30px;
  border-radius: 0px;
}

.btn.btn-rj:hover, .btn.btn-rj:focus {
  background-color: #3088bb;
}

.btn.btn-rj {
  background-color: #3996cc;
  color: #fff;
  text-transform: uppercase;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}


//Get a Quote page css ENDS


//Pricing page css STARTS

.pricing-table.style-six .pricing-wrapper {
  padding: 0px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
}
.pricing-table.style-six .pricing-wrapper > .pricing-column {
  border-top: 6px solid #3996cc;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title {
  font-family: "PT Sans", sans-serif;
  display: block;
  background-color: #1d1d1d;
  color: #fff;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .plan-title > h2 {
  background-color: #1d1d1d;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
  display: block;
  margin: 0;
  height: 74px;
  line-height: 74px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .plan-title > .pricing-box {
  height: auto;
  padding: 0px 15px 25px 15px;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box {
  border-bottom: 3px solid #3996cc;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box > .price {
  position: relative;
  display: inline-block;
  padding: 0 0 0 10px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  line-height: 100px;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .item-list {
  background-color: #f9f9f9;
}

.pricing-table .pricing-wrapper > .pricing-column > .item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box > .price > .symbol {
  position: absolute;
  top: -25px;
  left: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .item-list > li:nth-child(odd) {
  background-color: #e5e5e5;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .item-list > li {
  border-right: none;
  border-left: none;
  border-bottom-color: #F9F9F9;
  margin-bottom: 0;
}

.pricing-table .pricing-wrapper > .pricing-column > .item-list > li {
  text-transform: none;
}

.pricing-table .pricing-wrapper > .pricing-column > .item-list > li {
  display: block;
  padding: 20px 15px;
  font-size: 16px;
  list-style-type: none;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}



.pricing-table.style-six .pricing-wrapper > .pricing-column > .plan-footer {
  background-color: #3996cc;
  border-right: 1px solid #3391c7;
  border-bottom: 1px solid #3391c7;
  border-left: 1px solid #3391c7;
  padding: 0px;
}



.plan-footer .page-scroll:hover{
  background-color: #3088BB;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .plan-footer a.btn {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
}

//Pricing page css ENDS


//FAQ page css STARTS

.accordion.accordion-rj .panel-group > .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #3996cc;
}

.accordion.accordion-rj .panel-group > .panel > .panel-heading {
  background-color: #3996cc;
  border-color: #3996cc;
  border-radius:0;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.accordion.accordion-rj .panel-group > .panel > .panel-heading > .panel-title > a.collapsed {
  font-weight: 400;
}
.accordion.accordion-rj .panel-group > .panel > .panel-heading > .panel-title > a {
  display: inline-block;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}


.glyphicon {
  float: right;
}


//FAQ page css ENDS



.panel-group {
  margin-bottom: 60px;
}


hr{
  color: #000000;
  background-color: #000000;
  border-color: #000000;
}

.text-center {
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}


//Responsive design STARTS

@media only screen and (max-width: 768px) {
  .page-header {
    margin: 0;
  }
  .button-box {
    text-align: left;
    padding-left: 30%;
  }
  .minicart-wrapper {
    margin-top: 0;
  }
}

@media only screen and (max-width: 470px){

  #learn-more-btn {
    margin-left: 5.5%;
    margin-bottom: 20px;
  }
}

@media (max-width:1200px) and (min-width:992px) {
  //changing padding of the last row of the last li, because of the 1 row text not 2 rows like other ones
  #pricing-li-last-row {
    padding: 31px 15px;
  }
}


//Responsive design ENDS